<!DOCTYPE html>
<html lang="en">
  <body>
    <h1>Upload Image</h1>
    <form action="/upload" enctype="multipart/form-data" method="post">
      <input type="file" name="images" />
      <input type="submit" />
    </form>
  </body>
</html>
